body {
    background-color: burlywood;
}

p {
    /* Content - WIdth and Height */
    width: 50%;
    height: 40%;
    /* Border  */
    border: 2px solid greenyellow;
    /* Padding  */
    padding: 10px;
    padding-left: 40px;
    /* Margin  */
    /* margin: 5% 10% 40% 10%; */
    /* margin: 0 auto 0 auto; */
    margin: 0 auto;
}